body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    width: 100%;
    color: white;
}

#perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header p {
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 10px;
    font-weight: bold;
}

.pesquisa {
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 70px;
}

.pesquisa input {
    width: 500px;
    border-radius: 50px;
    font-size: 30px;
    padding-left: 30px;
}

.grupo-card{
    display: flex;
    justify-content: space-around;
}

.card{
    height: 284px;
    width: 219px;
    background-position: center;
    background-size: cover;
    border-radius: 34px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.card:hover{
    opacity: 0.7;
}

.card p{
    color : white;
    font-size: 40px;
    padding-left: 20px;
}

.grupo-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 430px;
    margin-top: 100px;

}

.card-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 70px;
}

.anuncio-le{
    width: 50%;
    text-align: center;
}

.anuncio-le p{
    font-size: 40px;
    font-weight: bold;
}

.anuncio-le button{
    height: 60px;
    width: 50%;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

.anuncio-ld{
    width: 50%;
    height: 80%;
    background-image: url('gato_laranja.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 70px;
    margin: 20px;
}